{% extends 'base.html.twig' %}

{% block title %}{{ html_title }}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="display-4"><a href="/">{{ title }}</a></h1>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <img class="card-img-top" src="{{ image.src }}" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{ image.title }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
