.alert-response {
    display: none;
    margin-left: 5px;
    padding: 0;
    font-size: 80%;
}
.card-img-top-thumb {
    height:250px;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden
}
.card-img-top-thumb img {
    flex-shrink:0;
    -webkit-flex-shrink: 0;
    max-width:100%;
    max-height:100%;
}